<%= form_with model: @profile, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      プロフィール情報編集
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>
  <%= render 'shared/profile_form', f: f %>

  <div class='form-btn'>
  <%= f.submit "プロフィール情報更新" ,class:"btn" %>
  </div>
</div>
<% end %>
