<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">タイトル1</label>
  </div>
  <%= f.text_field :title1, placeholder: "例：目標金額を達成したらやりたいこと" %>
</div>
<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">内容1</label>
  </div>
  <%= f.text_area :text1 %>
</div>
<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">タイトル2</label>
  </div>
  <%= f.text_field :title2, placeholder: "例：お金を貯めるために工夫していること" %>
</div>
<div class="form-group">
  <div class='form-text-wrap'>
    <label class="form-text">内容2</label>
  </div>
  <%= f.text_area :text2 %>
</div>
