<%= form_with model: @post, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      収支の編集
    </h1>
    <div class="edit-notice">
      ※編集後もプロフィール情報及び目標金額は、最初に投稿した時点のものとなります。
    </div>
  </div>

  <%= render 'shared/error_messages', model: f.object %>
  <%= render 'shared/post_form', f: f %>

  <div class='form-btn'>
  <%= f.submit "収支の更新" ,class:"btn" %>
  </div>
</div>
<% end %>
